/* .Repas {
    display: flex;
    justify-content: space-between;
    } */

    .pageAccueil,
    .pageRepas,
    .pageRecette {
        background-image: url("backgroundimage.png");
        background-repeat: no-repeat;
        padding: 50px 20px;
        opacity: 0.8;
    }
    
    .mealContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .mealCard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        background-color: #EEE2DC;
    }
    
    
    .navMenu {
        display: flex;
        justify-content: space-around;
        padding: 20px 18px;
        font: 16px Arial sans-serif;
        font-weight: bold;
        margin-top: 9px;
    }
    
    .Semaine {
        display: flex;
        flex-direction: column;
        width: 10%;
            }
            
    .btn{
        margin: 10px;
    }        
    .pageRepas{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: row;
        text-align: center;
    }
    
    #mealType{
    margin: 20px;
} 
#formRecette{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }