.pageAccueil, .pageRepas, .pageRecette{
    background-image: url("backgroundimage.png");
    background-repeat: no-repeat;
    padding: 50px 20px;
opacity: 0.8;
background-position: center;
background-size:contain;
}

.pageRepas{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.Semaine{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.navMenu {
    display: flex;
    justify-content: space-around;
    padding: 20px 18px;
    font: 16px Arial sans-serif;
    font-weight: bold;
    margin-top: 9px;
}